* {
 margin:0;
}

.app{
  background-color: #fafafa;
}

.app__header
{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white ;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.app_postsRight
{margin-left: 20px;
  /* border:5px solid black; */
}

.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app_headerImage
{
  height:40px;
  object-fit: contain;
  /* width:100px; */

  /* object-fit: contain; */
 
}

.app__signup
{
  display: flex;
  flex-direction: column;
}

